project_name='hallo'
project_title='Hallo'

admin_username='sven2209'
admin_name='Sven Kalbhenn'
admin_email='sven@skom.de'
admin_url='https://skom.de'

server_type='apache'
db_driver='mysqli'
db_name='db'
db_host='db'
db_password='db'
db_port='3306'
db_user='db'

sitepackage_name='hallo_sitepackage'
sitepackage_vendor='skom'
