<f:if condition="{breadcrumb}">
    <nav aria-label="Breadcrumb">
        <ol>
            <f:for each="{breadcrumb}" as="item">
                <f:if condition="{item.current}">
                    <f:then>
                        <li aria-current="page">{item.title}</li>
                    </f:then>
                    <f:else>
                        <li><a href="{item.link}" title="{item.title}">{item.title}</a></li>
                    </f:else>
                </f:if>
            </f:for>
        </ol>
    </nav>
</f:if>
