@include new(footer, component) {
    @include has(content) {
        background-color: var(--bs-footer-bg);
        color: var(--bs-footer-color);
        @include has(links) {
            color: var(--bs-footer-link-color);
            text-decoration: none;
        }
    }
    @include has(meta) {
        background-color: var(--bs-footer-meta-bg);
        color: var(--bs-footer-meta-color);
        a, a:hover, a:active, a:visited {
            color: var(--bs-footer-link-color);
            text-decoration: none;
        }
    }
}
